 *{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://img.freepik.com/free-photo/abstract-flowing-neon-wave-background_53876-101942.jpg?semt=ais_user_personalization&w=740&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main {
    width: 40%;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    padding: 50px;
    }

.btn button {
    width: 85px;
    margin: 3px;
    }

div button {
    width: 40px;
    padding: 5px;
    margin: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: 1px solid white;
}

div button:hover {
    background-color: red;
    color: white;
    transition: (1);
}

input {
    padding: 5px 3px 5px 3px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    }

h1 {
    margin: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

@media (max-width: 768px) {
    .main {
        width: 100%;
    }

}